{% extends 'base.html.twig' %}

{% block title %}Periods index{% endblock %}

{% block body %}
    <h1>Periods index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>{{ period.id }}</td>
                <td>{{ period.name }}</td>
                <td>{{ period.color }}</td>
                <td>
                    <a href="{{ path('app_periods_show', {'id': period.id}) }}">show</a>
                    <a href="{{ path('app_periods_edit', {'id': period.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_periods_new') }}">Create new</a>
{% endblock %}
